@font-face {
    font-family: Inter;
    src: url(assets/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-image: linear-gradient(#300060, black);
    color: white;
    animation-name: loading;
    animation-duration: 1.5s;
}

#enter-button {
    background-color: #1FC225;  
    color: white;
    font-size: 19px;
    font-family: Inter;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    border: none;
    position: relative;
    top: -6px;
    transition: .2s;
}

#enter-button:hover {
    color: #1FC225;
    background-color: white;
}

.navbar {
    padding-top: 13px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
}

#imageGame1 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame2 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame3 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

.navbar {
    padding-top: 13px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a{
    text-decoration: none;
}

.gamebar-nav {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gamebar-nav2 {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#imageGame4 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame5 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame6 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

p {
    font-family: Inter;
    text-align: center;
}

@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gamebar-nav3 {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#imageGame7 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame8 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}

#imageGame9 {
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: 0.2s linear;
}