* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #300060;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

fieldset {
    background-color: white;
}